In [2]:

import numpy as np
import pandas as pd

In [5]:
import os as os


os. getcwd() 
os.chdir(r"C:\Users\hanne\Documents\2019-2020\ESCP Courses\Python") #Had to put r in front as otherwise it wouldn't see the string as a raw string

In [7]:

dataTr = pd.read_csv("train.csv")
datats = pd.read_csv("test1.csv")

In [8]:
dataTr
original_headers = list(dataTr.columns.values)
original_headers

['label',
 'id',
 'visitTime',
 'purchaseTime',
 'hour',
 'C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'N1',
 'C9',
 'N2',
 'N3',
 'N4',
 'N5',
 'N6',
 'N7',
 'N8',
 'N9',
 'N10',
 'C10',
 'C11',
 'C12']

In [9]:

## Replacing class -1 with 0, because easier to work with
dataTr["label"].replace({-1: 0}, inplace=True)
datats["label"].replace({-1: 0}, inplace=True)

In [11]:

#Checking Data
for i in dataTr.columns:
    print ("---- %s ---" % i)
    print (dataTr[i].value_counts())

---- label ---
0    31371
1       57
Name: label, dtype: int64
---- id ---
399357    1
159399    1
525994    1
278189    1
448176    1
         ..
68628     1
590869    1
476883    1
5143      1
327680    1
Name: id, Length: 31428, dtype: int64
---- visitTime ---
19328699    6
19319226    6
19325796    5
19314062    5
19310993    5
           ..
19310525    1
19283902    1
19314623    1
19318721    1
19300352    1
Name: visitTime, Length: 24587, dtype: int64
---- purchaseTime ---
-1           31371
 19307708        1
 19319002        1
 19306613        1
 19298361        1
 19330955        1
 19318637        1
 19324431        1
 19295049        1
 19331883        1
 19325720        1
 19344902        1
 19331996        1
 19325359        1
 19323160        1
 19327407        1
 19327835        1
 19323177        1
 19300350        1
 19344084        1
 19345863        1
 19312951        1
 19304723        1
 19335360        1
 19337379        1
 19302544        1
 19325069        1
 19304754        1
 19329432        1
 19357325        1
 19317495        1
 19335031        1
 19307084        1
 19351846        1
 19312873        1
 19298208        1
 19322740        1
 19326434        1
 19324181        1
 19325842        1
 19300606        1
 19321607        1
 19321463        1
 19278072        1
 19299683        1
 19348331        1
 19332740        1
 19322465        1
 19311998        1
 19308975        1
 19333045        1
 19312652        1
 19324514        1
 19338699        1
 19320240        1
 19313727        1
 19346047        1
 19353674        1
Name: purchaseTime, dtype: int64
---- hour ---
9     2531
10    2529
8     2459
11    2292
13    2177
14    2172
12    2153
7     2022
15    1785
17    1764
16    1720
6     1569
18    1219
5      998
19     953
20     879
21     587
0      348
22     322
4      249
1      240
2      214
3      193
23      53
Name: hour, dtype: int64
---- C1 ---
2569487005    8430
2108523568       7
2084406919       6
3438432991       5
256353298        5
              ...
1427705163       1
4180196685       1
596547023        1
3559230936       1
77004800         1
Name: C1, Length: 22595, dtype: int64
---- C2 ---
403381353     11098
1235983246     6173
2018710401     5397
2541203883     3860
1830830742     3625
1258965892      635
2517724481      635
2201746798        5
Name: C2, dtype: int64
---- C3 ---
1928325921    1232
3475347077    1212
2780744710    1179
1711803242     936
1822656032     536
              ...
3540895230       1
2756181513       1
3550862535       1
1199484467       1
1533319149       1
Name: C3, Length: 2863, dtype: int64
---- C4 ---
652481754     20951
2308170622     6081
306394936      2844
2210625817     1552
Name: C4, dtype: int64
---- C5 ---
2967512603    23045
2116767313     8364
3955179140       19
Name: C5, dtype: int64
---- C6 ---
571765677     5194
2712499304    3835
4003458018    1886
85977907      1715
152923169     1092
              ...
3390967276      13
3912268313      12
2116604436       9
2762466016       9
4088755483       7
Name: C6, Length: 84, dtype: int64
---- C7 ---
2303407174    24113
1342367140     4123
2411180110     1420
730319316       940
3649211661      764
549342611        68
Name: C7, dtype: int64
---- C8 ---
2374954832    8364
157533148     7296
2206061889    5809
3588031319    5696
1804593680    1654
434828410      998
3999167221     587
946099003      369
1847029215     147
1031653231     116
3679482644      77
682892729       76
1604070580      58
1717161695      48
1355017680      33
3858319324      28
3389730139      19
4080139522      14
1339860380      13
4143494761      12
3703234237       7
912640200        6
2166564686       1
Name: C8, dtype: int64
---- N1 ---
0    24705
1     2688
4     2055
2     1094
3      735
5      151
Name: N1, dtype: int64
---- C9 ---
2226682598    5194
4287642944    4854
385980380     3835
1421481761    1886
3329757940    1250
387474876     1136
2698786965    1069
564075893      868
2088887026     753
1292559885     750
1690004026     701
3179660634     669
3201792078     566
3828882129     554
3863488499     551
1109321325     462
3023418412     396
1097313503     387
2711086415     375
4054959403     316
3623356211     273
3114503497     252
2447802683     241
399159304      225
477276257      221
3598157468     203
659463149      193
114495992      186
1266140471     185
3427046189     172
2013640318     165
681031001      162
3447573537     151
3208948300     149
759851699      141
3738539033     138
3790028721     136
1314204074     134
986337892      133
3898085784     131
833114062      127
3595738046     119
14692648       116
1681548983     105
2511982975     100
561243158       82
138171148       76
3878556116      72
2998031433      68
3597794575      62
3911032568      58
2505381470      53
1627260059      47
3272771221      44
481692728       44
999411610       42
2598915713      25
2286807896       9
3310009198       9
3311238116       7
Name: C9, dtype: int64
---- N2 ---
0     28370
1      1019
2       426
10      272
5       240
9       223
3       200
4       163
6       162
8       119
7       118
11       59
12       27
13       13
14       10
15        7
Name: N2, dtype: int64
---- N3 ---
0     30032
1       637
2       230
3       136
4        71
20       59
5        58
6        39
8        31
7        22
9        19
10       16
11       14
16       11
14       10
13       10
12        9
15        9
18        8
17        4
19        3
Name: N3, dtype: int64
---- N4 ---
0     30633
1       259
2       137
3        85
20       68
4        48
6        31
5        30
10       18
7        17
8        17
13       16
9        15
11       13
12       10
14        9
17        7
19        6
15        5
18        3
16        1
Name: N4, dtype: int64
---- N5 ---
0     31399
1        23
2         2
15        1
10        1
20        1
3         1
Name: N5, dtype: int64
---- N6 ---
0     31272
1        48
2        18
3        18
4        15
20       13
5         9
9         7
6         6
7         4
8         3
11        3
10        2
12        2
17        2
16        2
14        1
18        1
13        1
15        1
Name: N6, dtype: int64
---- N7 ---
0     31384
1        33
2         6
3         3
10        1
4         1
Name: N7, dtype: int64
---- N8 ---
0     29502
1       692
2       295
3       175
4       118
      ...
97        1
81        1
44        1
38        1
51        1
Name: N8, Length: 64, dtype: int64
---- N9 ---
0     31244
1        61
2        28
4        13
3        12
8         9
5         6
7         5
16        5
11        5
10        5
6         4
22        4
12        3
15        3
9         3
28        2
17        2
13        1
43        1
48        1
61        1
29        1
18        1
24        1
14        1
27        1
21        1
85        1
26        1
40        1
44        1
Name: N9, dtype: int64
---- N10 ---
0     31173
1        85
2        36
3        21
4        18
8        11
7        10
5         8
6         7
16        5
12        5
11        5
10        5
22        4
9         4
14        3
15        3
24        2
42        2
17        2
21        2
20        2
44        1
61        1
48        1
29        1
33        1
13        1
28        1
19        1
40        1
43        1
37        1
27        1
86        1
26        1
39        1
Name: N10, dtype: int64
---- C10 ---
3469607743    1425
3458698981      82
3183725626      73
1133005353      71
3662869197      68
              ...
843115400        1
762569609        1
4142922634       1
830608273        1
487200771        1
Name: C10, Length: 28653, dtype: int64
---- C11 ---
3831440054    8848
3617851689    8507
2379633508    6822
2196958187    3430
621902171     3118
3536580284     441
3124632437      87
535829057       48
58779779        44
2269823002      24
1587132551      21
891005277       14
102858183        7
1973513386       5
500889696        3
3255297627       3
2677481500       2
43937015         1
943284263        1
1706983378       1
2268989536       1
Name: C11, dtype: int64
---- C12 ---
4220791646    8507
1284343215    8037
1213938795    6365
830706566     4195
3706004275    1382
1550397227     786
245608391      674
2548980304     487
1889667519     442
4176504756     205
1213814022     113
3828748840     102
3818978634      87
3057379815      25
800077115       10
1269781439       5
3091742607       3
3960527089       2
2971647412       1
Name: C12, dtype: int64

In [12]:

## Checking, if there are missing values
dataTr.isnull().sum()

label           0
id              0
visitTime       0
purchaseTime    0
hour            0
C1              0
C2              0
C3              0
C4              0
C5              0
C6              0
C7              0
C8              0
N1              0
C9              0
N2              0
N3              0
N4              0
N5              0
N6              0
N7              0
N8              0
N9              0
N10             0
C10             0
C11             0
C12             0
dtype: int64

In [15]:


## Split train - data into X and Y variable
X = dataTr.drop(["label","visitTime","hour","purchaseTime"], axis=1)
Y = dataTr["label"]

In [16]:

## Modeling with Logistic Regression
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X,Y,test_size=0.33, stratify=Y)

In [17]:

## Oversampling the data set, as one class is underrepresented
import collections
from collections import Counter
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
print('Original dataset shape %s' % Counter(Y_train))
sm = SMOTE(random_state=42, sampling_strategy=0.3)
X_res, Y_res = sm.fit_resample(X_train,Y_train)
rs = RandomUnderSampler(random_state =42, sampling_strategy=0.7)
X_res, Y_res = rs.fit_resample(X_res, Y_res)
print('Resample dataset shape %s' % Counter(Y_res))

Original dataset shape Counter({0: 21018, 1: 38})
Resample dataset shape Counter({0: 9007, 1: 6305})

Using TensorFlow backend.

In [18]:

## Run Logistic Regression Model
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_res, Y_res)
predictions = logmodel.predict(X_test)

In [19]:


## Classification Report
from sklearn.metrics import classification_report
print(classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      0.83      0.90     10353
           1       0.01      0.58      0.01        19

    accuracy                           0.82     10372
   macro avg       0.50      0.70      0.46     10372
weighted avg       1.00      0.82      0.90     10372

In [20]:

## Create confusion matrix for better understanding
from sklearn.metrics import confusion_matrix
confusion_matrix(predictions,Y_test)

array([[8544,    8],
       [1809,   11]], dtype=int64)

In [21]:

## Random Forest Model - Check with model before
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators = 500, max_depth = 3, random_state = 42)
rf.fit(X_res, Y_res)
predictionsrf = rf.predict(X_test)

In [22]:
print(classification_report(Y_test, predictionsrf))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     10353
           1       0.17      0.95      0.29        19

    accuracy                           0.99     10372
   macro avg       0.58      0.97      0.64     10372
weighted avg       1.00      0.99      0.99     10372

In [23]:
confusion_matrix(predictionsrf,Y_test)

array([[10264,     1],
       [   89,    18]], dtype=int64)

In [24]:
## Display ROC curves for both models
import matplotlib.pyplot as plt
from sklearn.metrics import plot_roc_curve
ax = plt.gca()
lr_curve = plot_roc_curve(logmodel, X_test, Y_test,ax=ax, alpha=0.8)
rf_curve = plot_roc_curve(rf, X_test, Y_test,ax=ax, alpha=0.8)
plt.show()

In [25]:
#Randomforest 
## Fit the model to test dataset
datats

,label,id,visitTime,purchaseTime,hour,C1,C2,C3,C4,C5,...,N4,N5,N6,N7,N8,N9,N10,C10,C11,C12
0,0,1,19360733,-1,0,2569487005,403381353,681762206,652481754,2967512603,...,0,0,0,0,0,0,0,2128770044,3617851689,4220791646
1,0,2,19360734,-1,0,2416811818,1235983246,3653557526,652481754,2116767313,...,0,0,0,0,0,0,0,4256459078,2379633508,1284343215
2,0,3,19360735,-1,0,3765056181,1235983246,1310333812,652481754,2116767313,...,0,0,0,0,0,0,0,2840358457,3831440054,1213938795
3,0,4,19360737,-1,0,955802445,403381353,2290282995,652481754,2967512603,...,0,0,0,0,0,0,0,4039873369,535829057,3828748840
4,0,5,19360752,-1,0,2569487005,2517724481,2463986301,2308170622,2967512603,...,0,0,0,0,0,0,0,907610626,3617851689,4220791646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32081,0,32082,19446873,-1,23,2569487005,2018710401,887116886,652481754,2967512603,...,0,0,0,0,0,0,0,1546561973,3617851689,4220791646
32082,0,32083,19446914,-1,23,2569487005,403381353,3475347077,652481754,2967512603,...,0,0,0,0,0,0,0,3227742820,3617851689,4220791646
32083,0,32084,19446925,-1,23,2569487005,403381353,3475347077,652481754,2967512603,...,0,0,0,0,0,0,0,4069315994,3617851689,4220791646
32084,0,32085,19446931,-1,23,2569487005,2541203883,448895441,2308170622,2967512603,...,0,0,0,0,0,0,0,2724771230,3617851689,4220791646
32085,0,32086,19446960,-1,23,2569487005,403381353,2294620541,652481754,2967512603,...,0,0,0,0,0,0,0,2151556883,3617851689,4220791646

In [26]:

## Split test - data into X and Y variable
Xts = datats.drop(["label","visitTime","hour","purchaseTime"], axis=1)
Yts = datats["label"]

In [27]:

## Predict probabilities based on the test data set
predictionsts = rf.predict_proba(Xts)
predictionsts

array([[0.93276602, 0.06723398],
       [0.957511  , 0.042489  ],
       [0.94333475, 0.05666525],
       ...,
       [0.9072219 , 0.0927781 ],
       [0.83417299, 0.16582701],
       [0.82132042, 0.17867958]])

In [28]:

## Create data frame out of predictions and rename columns
prediction_frame = pd.DataFrame(predictionsts)
nf = prediction_frame.rename(columns = {0:"No_Purchase",1:"Purchase"})
nf

       No_Purchase  Purchase
0         0.932766  0.067234
1         0.957511  0.042489
2         0.943335  0.056665
3         0.920951  0.079049
4         0.938220  0.061780
...            ...       ...
32081     0.836621  0.163379
32082     0.903729  0.096271
32083     0.907222  0.092778
32084     0.834173  0.165827
32085     0.821320  0.178680

[32086 rows x 2 columns]

In [29]:

## Merge two datasets and only keep relevant columns
result = pd.concat([Xts, nf], axis=1, join='inner')
deliverable = result[["id","Purchase"]]
deliverable

          id  Purchase
0          1  0.067234
1          2  0.042489
2          3  0.056665
3          4  0.079049
4          5  0.061780
...      ...       ...
32081  32082  0.163379
32082  32083  0.096271
32083  32084  0.092778
32084  32085  0.165827
32085  32086  0.178680

[32086 rows x 2 columns]

In [30]:
deliverable.to_csv("Hannes_Purchase_Probability.csv")